<div ngClass="main-view-content" fxLayout="column" fxLayoutGap="20px">
        <h2></h2>
  
        <div fxLayout="row" fxLayoutGap="20px">
          <h2>Groups</h2>
          <button mat-mini-fab color="primary">
            <mat-icon aria-label="Add" (click)="add()">add</mat-icon>
          </button>
        </div>
  
        <div *ngFor="let container of containers">
          <mat-card>
  
            <mat-card-header>
              <mat-card-title>
                {{container.name}}
              </mat-card-title>
              <mat-card-subtitle>
                {{container.requirements}} | {{container.description}}
              </mat-card-subtitle>
            </mat-card-header>
  
            <mat-card-actions fxLayout="row">
              <button mat-icon-button (click)="launch(container)" color="primary">
                <mat-icon aria-label="Forward">arrow_forward</mat-icon>
              </button>
              <div fxFlex></div>
              <button mat-icon-button (click)="edit(container)" color="primary">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
        <h2></h2>
      </div>